@model TransitoModel.PROPIETARIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PROPIETARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMEROIDENTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROIDENTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREOELECTRONICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREOELECTRONICO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
