@model TransitoModel.ModelAux.ModVehiculo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "PROPIETARIOVEHICULO", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <p>
            Buscar placa:
            @Html.EditorFor(model => model.PLACA, new { htmlAttributes = new { @class = "form-control" } })
            <h6>Enter para buscar</h6>
            <hr />
        </p>
    </div>

}
<div class="row">


    @if (Model.PROPIETARIO == null)
    {
        <h4>Buscar placa</h4>
    }
    else
    {

        using (Html.BeginForm("Asociar", "PROPIETARIOVEHICULO", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.VEHICULO_ID)

            <div class="form-group">
                ASOCIAR PERSONA AL VEHICULO           
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PROPIETARIO_LIST.ID, (SelectList)ViewBag.ID, String.Empty, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ASOCIAR" class="btn btn-default" />
                </div>
            </div>
        }

        <h3>Propietarios Vinculados</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().NUMEROIDENTIFICACION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().NOMBRES)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().APELLIDOS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().CORREOELECTRONICO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().DIRECCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().TELEFONO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROPIETARIO.FirstOrDefault().PROPIETARIO_VEHICULO.FirstOrDefault().CREA_FECHA)
                </th>
            </tr>

            @foreach (var item in Model.PROPIETARIO)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NUMEROIDENTIFICACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APELLIDOS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CORREOELECTRONICO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIRECCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TELEFONO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PROPIETARIO_VEHICULO.FirstOrDefault().CREA_FECHA)
                </td>
            </tr>
            }

        </table>



    }
</div>